
.about_me{
    margin-top: 3em;
    .image_content{
        width: 100%;
        
        img{
            width: 100%;
            height: 100%;
        }
    }
        
}
.dashboard{
    .box_dashboard{
        border: 0.5px solid #000000;
        text-align: center;
        .box_icon{
            margin: 10px auto;
            width: 80px;
            height: 80px;
            background-image: url('../../assets/images/about/background_black.png');
            img{
                margin-top: 20px;
                width: 40px;
                height: 40px;
                
            }
            
        }

        &:hover{
            cursor: pointer;
            background-color: #DB4444;
            color: #fff;
            .box_icon{
                background-image: url('../../assets/images/about/background_white.png');
                img{
                    filter: invert(1);
                }
            }

        }
    }
    
}
.row{
    &:not(:last-child){
        padding-right: 1.5em;
    }
}
.profile,.dashboard{
    margin-top: 1.5em;
}
.profile{
    .box_profile{
        margin: 0 auto;
        img{
            width: 300px;
            height: 400px;
        }
        .box_icon{
        display: flex;
        gap: 16px;
        align-items: center;
        img{
            width: 24px;
            height: 24px;
        }
    }
    }
}
// Carousel
.dot{
    li{
        button{
            background-color: #DB4444 !important;
        }
    }
}

