.custom_row {
    margin-top: 12;
    padding: 0;
}

.custom_col {
    margin: 0;
    padding: 20;
}

.row_header_link {
    margin-top: 133px;
}

.header_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 21px;
}

.parent_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 21px;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #000000;
}

.children_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #000000;
}

.block_cart {
    width: 1170px;
    height: 840px;
    top: 800px;
    // left: 135px;
    gap: 80px;
}

container1 {
    overflow-x: auto;
    background-color: lightblue;
    width: 40px;
}

.row_category {
    display: flex;
    width: 1170px;
    height: 72px;
    padding: 24px 39px 24px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary, #FFF);
    /* Categogy/5 */
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.category_checkbox {
    width: 50px;
    height: 50px;
    border-width: 1.25px;
    margin: 0px 8px 0px 0px;
}

.category_product {
    width: 50px;
    height: 50px;
}

.category_price {
    height: 50px;
    width: 50px;
}

.category_quantity {
    height: 50px;
    width: 50px;
}

.category_subtotal {
    height: 50px;
    width: 50px;
}

.category_operate {
    height: 50px;
    width: 50px;
}

.row_detail_cart {
    margin-top: 20px;
    display: flex;
    width: 1170px;
    height: 102px;
    // padding: 0px 0px 0px 40px;
    padding: 14px 39px 24px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--Primary, #FFF);
    /* Categogy/5 */
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.detail_checkbox {
    display: flex;
    border-width: 1.25px;
    margin: 0px 8px 0px 0px;
    align-items: center;
    align-items: center;
}

.detail_product {
    height: 50px;
}

.detail_price {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_quantity {
    height: 50;
    width: 50;
}

.detail_subtotal {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail_operation {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return {
    height: 56;
    width: 1950;
}

.update {
    height: 56;
    width: 195;
}

.cover_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 31px;
    border-radius: 1px;
}

.subtraction {
    width: 32px;
    height: 32px;
    align-items: center;
    border-color: #000000;
    border-radius: 2px 0px 0px 2px;
    border-style: solid;
    border-width: 1.25px;
    color: #000000;
    display: flex;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    line-height: 14px;
    padding: 1px 6px;
    text-align: center
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 44px;
    border-color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    border-top: solid #00000080 1px;
    border-bottom: solid #00000080 1px;
}

.quantity_input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid none;
    border-width: 1.25px 0px;
    color: #000000;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    height: 32px;
    padding: 1px 2px;
    text-align: center;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    text-align: center;
}


/* Firefox */

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
}

.summation {
    align-items: center;
    border-color: #000000;
    border-radius: 0px 2px 2px 0px;
    border-style: solid;
    border-width: 1.25px;
    color: #000000;
    display: flex;
    font-family: Helvetica Neue;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    line-height: 14px;
    padding: 1px 6px;
    text-align: center;
    width: 32px;
    height: 32px;
    background-color: #db4444;
}

.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}