@import "../common/common.scss";
.slide_bar {
  width: 200px;
  border-right: 0.5px solid rgba(0, 0, 0, 1);
  ul {
    padding: 16px 0 16px 0;
    margin: 0;

    li {
      position: relative;
      color: rgba(0, 0, 0, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      display: list-item;
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      i {
        cursor: pointer;
        position: absolute;
        right: 1em;

        img {
          height: 24px;
          width: 24px;
          vertical-align: middle;
        }
        &:hover {
          color: rgba(0, 0, 0, 4);
          scale: 1.4;
        }
      }

      .dropdown {
        display: none;
        margin-left: 10px;
        
      }
      .active_dropdown {
        display: block;
      }
    }
  }
}
