.phone-icon{
    margin-right: 10px;
    width: 20px;
}

.send_button{
    background-color: red;
    height: 56px;
    width: 215px;
    border: none;
    border-radius: 4px;
    color: white;
}
@media (max-width: 767px) {
  
  }