.carousel {
  width: calc(100% - 220.5px);
  text-align: center;
  padding: 32px 0 0 32px;

  button {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    box-sizing: border-box;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 991px) {
  .carousel {
    width: 100%;
    padding: 0;
  }
}
