.carousel-indicators {
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 6px;
    margin-left: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFFFFF;
    background-clip: content-box;
    border: solid transparent 2px;
    opacity: 0.5;
    transition: opacity 0s ease;
    border-radius: 100%;
}

.carousel-indicators .active {
    background-color: #DB4444;
    border: solid #FFFFFF 2px;
    border-radius: 100%;
    opacity: 1;
}